<div class="btn-group" role="group">
	<button type="button" class="btn btn-default btn-icon" (click)="smModal.show(); focusComments(comment);" title="Queue with comment" [disabled]="track.IsAlreadyQueued">
		<i class="icon-bubble-plus"></i>
	</button>
	<button class="btn btn-default btn-icon" [ngClass]="{'btn-success': track.IsAlreadyQueued}" (click)="queueTrack()" [disabled]="track.IsAlreadyQueued" title="Queue track">
		<i class="icon-playlist-add"></i>
	</button>
</div>

<div bsModal #smModal="bs-modal" class="modal fade text-left" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" aria-label="Close" (click)="smModal.hide()">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title text-left">Comment</h4>
			</div>
			<div class="modal-body text-left">
				<div class="input-group">
					<input type="text" [(ngModel)]="commentText" class="form-control input-sm" #comment placeholder="Comment..." required (keyup.enter)="queueTrack(commentText); smModal.hide();">
					<span class="input-group-btn">
							<button type="button" class="btn btn-primary btn-sm" (click)="queueTrack(commentText); smModal.hide();">Queue</button>
						</span>
				</div>
			</div>
		</div>
	</div>
</div>