.dropdown-menu {
	left: auto;
	right: 100%;
	margin-right: 5px;
	top: -24px;

	&:before {
		content: "";
		position: absolute;
		width: 12px;
		height: 12px;
		border: 6px solid transparent;
		border-left-color: #aaa;
		top: calc(50% - 6px);
		right: -12px;
	}

	&:after {
		content: "";
		position: absolute;
		width: 10px;
		height: 10px;
		border: 5px solid transparent;
		border-left-color: white;
		top: calc(50% - 5px);
		right: -10px;
	}

	&.dropdown-menu--large {
		top: -60px;
	}
}
