<span dropdown (onToggle)="isOpen = $event">
	<button type="button" class="btn-icon" dropdownToggle [disabled]="track.IsAlreadyQueued">
		<i class="icon-more"></i>
	</button>

	<ul class="dropdown-menu" dropdownMenu [class.dropdown-menu--large]="hasQueuedTrack">
		<li>
			<a class="dropdown-item" (click)="queueTrack()">
				<i class="icon-play"></i>
				Queue track
			</a>
		</li>
		<li>
			<a class="dropdown-item" (click)="smModal.show(); focusComments(comment);">
				<i class="icon-bubble"></i>
				Queue with comment
			</a>
		</li>
		<li role="separator" class="divider" *ngIf="hasQueuedTrack"></li>
		<li *ngIf="hasQueuedTrack">
			<a class="dropdown-item" (click)="like();">
				<i class="icon-heart"></i>
				Like
			</a>
		</li>
		<li *ngIf="hasQueuedTrack">
			<a class="dropdown-item" (click)="veto();">
				<i class="icon-heart-broken"></i>
				Veto
			</a>
		</li>
	</ul>
</span>

<div bsModal #smModal="bs-modal" class="modal fade text-left" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" aria-label="Close" (click)="smModal.hide()">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title text-left">Comment</h4>
			</div>
			<div class="modal-body text-left">
				<div class="input-group">
					<input type="text" [(ngModel)]="commentText" class="form-control input-sm" #comment placeholder="Comment..." required (keyup.enter)="queueTrack(commentText); smModal.hide();">
					<span class="input-group-btn">
						<button type="button" class="btn btn-primary btn-sm" (click)="queueTrack(commentText); smModal.hide();">Queue</button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>