<div
  fxLayout="row"
  fxLayoutWrap="start centre">
  <a
    [routerLink]="['/spotify/playlist', playlist.owner.id, playlist.id]"
    [attr.title]="playlist.name">
    <div
      class="track-item__col"
      fxFlex="none">
      <img
        [src]="playlistImage"
        width="60">
      </div>
      <div
        class="track-item__col track-item__details"
        fxFlex
        fxFlexFill>

        {{ playlist.name }}
      </div>

      <!-- <aside>
        {{ playlist.tracks.total}}
      </aside> -->
  </a>
</div>

