<pm-fixed-background
    [src]="currentTrack?.Track?.Album?.ArtworkUrlLarge"
    [blurred]="true">
</pm-fixed-background>

<section
    class="container container--top now-playing__track-summary">
    <small
        class="now-playing__queued-by">
        Queued by 
        <a
            [href]="currentTrack?.url"
            class="user-link"
            *ngIf="currentTrack?.url"
            target="_blank" disabled>
            {{currentTrack?.fullName | async}}
            <img [src]="currentTrack?.userPhotoUrl">
        </a>
        <span
            *ngIf="!currentTrack?.url">
            {{currentTrack?.fullName | async}}
        </span>
    </small>

    <div
        fxLayout="row"
        fxLayoutAlign="start start">
        <div
            fxFlex="25%">
            <img
                [src]="currentTrack?.Track?.Album?.ArtworkUrlLarge || '/assets/images/pixel.gif'"
                class="img-responsive">
        </div>

        <div
            fxFlex="75%"
            class="now-playing__track-info">
            <h1
                class="md-display-1">
                <a
                    href="{{currentTrack?.Track?.ExternalLink}}"
                    target="_blank"
                    title="{{currentTrack?.Track?.Name}}">
                    {{currentTrack?.Track?.Name}}
                </a>
            </h1>

            <ul
                class="comma-separated"
                *ngIf="currentTrack?.Track?.Artists?.length">
                <li
                    *ngFor="let artist of currentTrack?.Track?.Artists">
                    <a
                        class="md-subhead"
                        [routerLink]="['/artist', artist.MusicProvider.Identifier, artist.Link]">
                        {{artist.Name}}
                    </a>
                </li>
            </ul>

            <a
                class="md-subhead now-playing__track-info-album"
                *ngIf="currentTrack?.Track?.Album"
                [routerLink]="['/album', currentTrack?.Track?.Album.MusicProvider.Identifier, currentTrack?.Track?.Album.Link]">
                {{currentTrack?.Track?.Album?.Name}}
            </a>

            <pm-opinion-buttons
                [track]="currentTrack"
                (like)="likeTrack(currentTrack)"
                (veto)="vetoTrack(currentTrack)">
            </pm-opinion-buttons>

            <p
                *ngIf="currentTrack?.Reason"
                class="now-playing__track-comment">
                <em>{{currentTrack?.Reason}}</em>
            </p>
        </div>
    </div>

    <md-progress-bar
        color="accent"
        mode="determinate"
        [value]="trackProgress">
    </md-progress-bar>
</section>

<section
    class="container container--opaque now-playing__queue-card">
    <md-tab-group>
        <md-tab
            label="Next up">
            <p
                *ngIf="!trackQueue?.length"
                class="text">
                <em>There are no tracks in the queue</em>
            </p>
            <pm-queued-track
                *ngFor="let track of trackQueue"
                [queuedTrack]="track"
                (likeTrack)="likeTrack(track)"
                (vetoTrack)="vetoTrack(track)">
            </pm-queued-track>

            <a
                md-button
                [routerLink]="['/queue']"
                *ngIf="trackQueue?.length">
                See all queued tracks
            </a>
        </md-tab>

        <md-tab
            label="History">
            <pm-queued-track
                *ngFor="let track of trackHistory"
                [queuedTrack]="track">
            </pm-queued-track>

            <a
                md-button
                [routerLink]="['/history']">
                See all history
            </a>
        </md-tab>
    </md-tab-group>
</section>