<ng-container
    *ngIf="currentTrack$ | async as currentTrack">
    <pm-fixed-background
        [src]="currentTrack?.Track?.Album?.ArtworkUrlLarge"
        [blurred]="true">
    </pm-fixed-background>

    <section
        class="container container--top now-playing__track-summary">
        <small
            class="now-playing__queued-by">
            <img
                *ngIf="currentTrack?.url"
                [src]="currentTrack?.userPhotoUrl">
            <a
                [href]="currentTrack?.url"
                *ngIf="currentTrack?.url"
                target="_blank" disabled>
                {{currentTrack?.fullName | async}}
            </a>
            <span
                *ngIf="!currentTrack?.url">
                {{currentTrack?.fullName | async}}
            </span>

            queued:
        </small>

        <small
            title="Your likes minus your vetos"
            [class.now-playing__karma--bad]="(karma$ | async) < 0"
            class="now-playing__karma">
            Karma: {{ karma$ | async }}
        </small>

        <div
            fxLayout="row"
            fxLayoutAlign="start start">
            <div
                fxFlex="27%">
                <img
                    [src]="currentTrack?.Track?.Album?.ArtworkUrlLarge || '/assets/images/pixel.gif'"
                    class="img-responsive">
            </div>

            <div
                fxFlex="73%"
                class="now-playing__track-info">
                <h1
                    class="mat-display-1">
                    <a
                        href="{{currentTrack?.Track?.ExternalLink}}"
                        target="_blank"
                        title="{{currentTrack?.Track?.Name}}">
                        {{currentTrack?.Track?.Name}}
                    </a>
                </h1>

                <ul
                    class="comma-separated"
                    *ngIf="currentTrack?.Track?.Artists?.length">
                    <li
                        *ngFor="let artist of currentTrack?.Track?.Artists; trackBy: trackByFn">
                        <a
                            class="mat-subhead"
                            [routerLink]="['/artist', artist.MusicProvider.Identifier, artist.Link]">
                            {{artist.Name}}
                        </a>
                    </li>
                </ul>

                <a
                    class="mat-subhead now-playing__track-info-album"
                    *ngIf="currentTrack?.Track?.Album"
                    [routerLink]="['/album', currentTrack?.Track?.Album.MusicProvider.Identifier, currentTrack?.Track?.Album.Link]">
                    {{currentTrack?.Track?.Album?.Name}}
                </a>

                <pm-opinion-buttons
                    [track]="currentTrack"
                    (like)="likeTrack(currentTrack)"
                    (veto)="vetoTrack(currentTrack)">
                </pm-opinion-buttons>

                <p
                    *ngIf="currentTrack?.Reason"
                    class="now-playing__track-comment">
                    <em>{{currentTrack?.Reason}}</em>
                </p>
            </div>
        </div>
    </section>

    <mat-progress-bar
        color="warn"
        mode="determinate"
        [title]="trackElapsedTime$ | async"
        [value]="trackProgress$ | async">
    </mat-progress-bar>
</ng-container>
<section
    class="container container--opaque now-playing__queue-card">
    <mat-tab-group
      selectedIndex="0">
        <mat-tab
            label="Next up">
            <p
                *ngIf="!(trackQueue$ | async)?.length"
                class="text padding-top-half">
                <em>There are no tracks in the queue</em>
            </p>
            <pm-queued-track
                *ngFor="let track of trackQueue$ | async; trackBy: trackByFn"
                [queuedTrack]="track"
                (likeTrack)="likeTrack(track)"
                (vetoTrack)="vetoTrack(track)">
            </pm-queued-track>

            <a
                *ngIf="(trackQueue$ | async)?.length"
                mat-button
                class="now-playing__see-all-link"
                [routerLink]="['/queue']">
                See all queued tracks
            </a>
        </mat-tab>

        <mat-tab
            label="History">
            <pm-queued-track
                *ngFor="let track of trackHistory$ | async; trackBy: trackByFn"
                [queuedTrack]="track">
            </pm-queued-track>

            <a
                mat-button
                class="now-playing__see-all-link"
                [routerLink]="['/history']">
                See all history
            </a>
        </mat-tab>
        <mat-tab
            label="Spotify">
            <pm-spotify-home></pm-spotify-home>
        </mat-tab>
    </mat-tab-group>
</section>
