<header
    [@navDrawer]="isOpen"
    class="side-nav__header"
    fxLayout="row"
    fxLayoutAlign="start center">
    <button
        type="button"
        mat-icon-button
        fxFlex="none"
        (click)="close()">
        <mat-icon>menu</mat-icon>
    </button>
    <div
        fxFlex
        fxFlexFill>
        <img
            src="/assets/images/play-me.svg"
            alt="Play Me">
    </div>
</header>

<div
    [@navDrawer]="isOpen"
    class="side-nav__container">
    <a
        class="side-nav__nav-item"
        [routerLink]="['/now-playing']"
        (click)="close()">
        <mat-icon>home</mat-icon>
        Home
    </a>

    <a
        class="side-nav__nav-item"
        [routerLink]="['/queue']"
        (click)="close()">
        <mat-icon>queue_music</mat-icon>
        Queue
    </a>

    <a
        class="side-nav__nav-item"
        [routerLink]="['/history']"
        (click)="close()">
        <mat-icon>history</mat-icon>
        History
    </a>
    
    <a
        class="side-nav__nav-item"
        [routerLink]="['/likes']"
        (click)="close()">
        <mat-icon>mood</mat-icon>
        Your Likes
    </a>
    
    <a
        class="side-nav__nav-item"
        target="_blank"
        [href]="$currentZonePath | async">
        <mat-icon>public</mat-icon>
        Play Me Web
    </a>
    
    <a
        class="side-nav__nav-item"
        target="_blank"
        href="https://github.com/Lightw3ight/PlayMeExtension">
        <mat-icon svgIcon="github"></mat-icon>
        Github Project
    </a>
    
    <a
        class="side-nav__nav-item"
        target="_blank"
        [href]="'mai' + 'lto' + ':kris' + '@' + 'trademe' + '.co.nz'">
        <mat-icon>mail_outline</mat-icon>
        Features / Bugs
    </a>

    <hr>

    <pm-zone-selector
        *ngIf="isOpen"
        (zoneChanged)="close()">
    </pm-zone-selector>
</div>

<div
    *ngIf="isOpen"
    [@shieldFadeIn]="true"
    (click)="close()"
    class="side-nav__shield">
</div>