<header
    class="side-nav__header"
    fxLayout="row"
    fxLayoutAlign="start center">
    <button
        type="button"
        md-icon-button
        fxFlex="none"
        (click)="triggerClose()">
        <md-icon>menu</md-icon>
    </button>
    <div
        fxFlex
        fxFlexFill>
        <img
            src="/assets/images/play-me.svg"
            alt="Play Me">
    </div>
</header>

<a
    class="side-nav__nav-item"
    [routerLink]="['/now-playing']"
    (click)="triggerClose()">
    <md-icon>home</md-icon>
    Home
</a>

<a
    class="side-nav__nav-item"
    [routerLink]="['/queue']"
    (click)="triggerClose()">
    <md-icon>queue_music</md-icon>
    Queue
</a>

<a
    class="side-nav__nav-item"
    [routerLink]="['/history']"
    (click)="triggerClose()">
    <md-icon>history</md-icon>
    History
</a>

<hr>

<pm-zone-selector
    (zoneChanged)="triggerClose()">
</pm-zone-selector>