<ng-container
	*ngIf="artist$ | async as artist">

	<pm-fixed-background
		[src]="artist?.PortraitUrlLarge">
	</pm-fixed-background>

	<div
		class="hero">
		<h1
			class="md-display-1">
			{{artist?.Name}}
		</h1>
	</div>

	<section
		class="container container--opaque">
		<div
			class="flex-row-container"
			fxLayout="row wrap">
			<pm-album-list-item
				fxFlex="33.333%"
				*ngFor="let album of artist?.Albums"
				[album]="album">
			</pm-album-list-item>
		</div>
	</section>
</ng-container>