<div>
	<button
		mat-icon-button
		class="list-item__play-button"
		type="button"
		(click)="queueTrack()">
		<img
			class="list-item__thumb"
			[src]="trackImage">
		<mat-icon>play_arrow</mat-icon>
	</button>
</div>

<div>
	<strong>
		{{track.name}}
	</strong>
	<ul class="comma-separated">
		<li *ngFor="let artist of track.artists">
			<a [routerLink]="['/artist', 'sp', artist.id]">
				{{artist.name}}
			</a>
		</li>
	</ul>
</div>

<div
	class="list-item__hover-hide">
	{{trackLength}}
</div>

<div
	class="list-item__hover-show"
	*ngIf="!isAlreadyQueued">
	<button mat-icon-button [matMenuTriggerFor]="menu">
		<mat-icon>more_vert</mat-icon>
	</button>

	<mat-menu #menu="matMenu">
		<button mat-menu-item (click)="queueTrack()">
			<mat-icon>play_arrow</mat-icon>
			<span>Queue</span>
		</button>
		<button mat-menu-item (click)="queueWithComment()">
			<mat-icon>comment</mat-icon>
			<span>Queue with comment</span>
		</button>
		<button
			mat-menu-item
			[routerLink]="['/album', 'sp', track.album.id]">
			<mat-icon>album</mat-icon>
			<span>View album</span>
		</button>
	</mat-menu>
</div>

<!-- <div
	fxLayout="row"
	fxLayoutAlign="start center">
	<div
		*ngIf="!isAlreadyQueued"
		class="track-item__col"
		fxFlex="none">
		<img
			[src]="trackImage"
			class="track-item__album-image">

		<button
			mat-icon-button
			class="track-item--hover-fade-in track-item__play-button"
			type="button"
			(click)="queueTrack()">
			<mat-icon>play_arrow</mat-icon>
		</button>
	</div>

	<div
		*ngIf="isAlreadyQueued"
		class="track-item__col"
		fxFlex="none">
		<mat-icon
			class="track-item__display-icon">volume_up</mat-icon>
	</div>

	<div
		class="track-item__col track-item__details"
		fxFlex
		fxFlexFill>
		<div class="track-item__wrap-trap">
			<div class="track-item__wrap-trap-inner">
				<label>
					{{track.name}}
				</label>
				<ul class="comma-separated">
					<li *ngFor="let artist of track.artists">
						<a [routerLink]="['/artist', 'sp', artist.id]">
							{{artist.name}}
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div
		class="track-item__col track-item--hover-fade-in"
		fxFlex="none"
		*ngIf="!isAlreadyQueued">
		<button mat-icon-button [matMenuTriggerFor]="menu">
			<mat-icon>more_vert</mat-icon>
		</button>

		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="queueTrack()">
				<mat-icon>play_arrow</mat-icon>
				<span>Queue</span>
			</button>
			<button mat-menu-item (click)="queueWithComment()">
				<mat-icon>comment</mat-icon>
				<span>Queue with comment</span>
			</button>
			<button mat-menu-item [routerLink]="['/album', 'sp', track.album.id]">
				<mat-icon>album</mat-icon>
				<span>View album</span>
			</button>
		</mat-menu>
	</div>
</div> -->