<section
	class="container container--opaque">
	<h1
		class="mat-title">
		History
	</h1>

	<mat-tab-group
		(selectChange)="onActiveTabChanged($event)">
		<mat-tab
			label="All">
			<p
				class="padding-top-half"
				*ngIf="noHistoryResults">
				No results
			</p>
			<mat-spinner
				*ngIf="loading"></mat-spinner>
			<pm-queued-track
				*ngFor="let track of history"
				[queuedTrack]="track">
			</pm-queued-track>
		</mat-tab>

		<mat-tab
			label="Requested">
			<p
				class="padding-top-half"
				*ngIf="noRequestHistoryResults">
				No results
			</p>
			<mat-spinner
				*ngIf="loading"></mat-spinner>
			<pm-queued-track
				*ngFor="let track of requestHistory"
				[queuedTrack]="track">
			</pm-queued-track>
		</mat-tab>

		<mat-tab
			label="Mine">
			<p
				class="padding-top-half"
				*ngIf="noUserHistoryResults">
				No results
			</p>
			<mat-spinner
				*ngIf="loading"></mat-spinner>
			<pm-queued-track
				*ngFor="let track of userHistory"
				[queuedTrack]="track">
			</pm-queued-track>
		</mat-tab>
	</mat-tab-group>
</section>
