<section
	class="container container--opaque">
	<h1
		class="mat-title">
		History
	</h1>

	<mat-tab-group
		(selectChange)="onActiveTabChanged($event)">
		<mat-tab
			label="All">
			<p
				class="padding-top-half"
				*ngIf="!loading && !(history$ | async)?.length">
				No results
			</p>
			<mat-spinner
				*ngIf="loading"></mat-spinner>
			<pm-queued-track
				*ngFor="let track of history$ | async"
				[queuedTrack]="track">
			</pm-queued-track>
		</mat-tab>

		<mat-tab
			label="Requested">
			<p
				class="padding-top-half"
				*ngIf="!loading && !(requestHistory$ | async)?.length">
				No results
			</p>
			<mat-spinner
				*ngIf="loading"></mat-spinner>
			<pm-queued-track
				*ngFor="let track of requestHistory$ | async"
				[queuedTrack]="track">
			</pm-queued-track>
		</mat-tab>

		<mat-tab
			label="Mine">
			<p
				class="padding-top-half"
				*ngIf="!loading && !(userHistory$ | async)?.length">
				No results
			</p>
			<mat-spinner
				*ngIf="loading"></mat-spinner>
			<pm-queued-track
				*ngFor="let track of userHistory$ | async"
				[queuedTrack]="track">
			</pm-queued-track>
		</mat-tab>
	</mat-tab-group>
</section>
