<div
    class="site-header">
    <div
        fxLayout="row"
        fxLayoutAlign="start center"
        class="site-header__search-container"
        [class.site-header__search-container--focus]="hasFocus"
        tabindex="0">
        <div
            fxFlex="none">
            <button
                mat-icon-button
                (click)="onToggleMenuClick()">
                <mat-icon>menu</mat-icon>
            </button>
            <div
                class="site-header__button-divider"
                *ngIf="enableBack$ | async"></div>
            <button
                mat-icon-button
                (click)="back()"
                *ngIf="enableBack$ | async">
                <mat-icon>navigate_before</mat-icon>
            </button>
        </div>
        <div
            fxFlex
            fxFlexFill>
            <form
                (ngSubmit)="onSubmit()"
                #searchForm="ngForm">
                <input
                    #trigger
                    matInput
                    [matAutocomplete]="auto"
                    type="text"
                    [formControl]="searchInput"
                    placeholder="Search"
                    class="site-header__search-input material-search"
                    (focus)="hasFocus = true"
                    (blur)="hasFocus = false">

                <mat-autocomplete
                    (optionSelected)="search($event.option.value)"
                    #auto="matAutocomplete">
                    <mat-option 
                        *ngFor="let option of suggestions$ | async; trackBy: trackByFn" 
                        [value]="option">
                        {{ option }}
                    </mat-option>
                </mat-autocomplete>
            </form>
        </div>

        <a
            href="javascript:void(0)"
            fxFlex="none"
            [matMenuTriggerFor]="zoneMenu"
            class="site-header__audio-zone">
            {{ currentAudioZone$ | async }}
        </a>
    </div>
</div>

<mat-menu
    #zoneMenu="matMenu">
    <button
        *ngFor="let zone of zones$ | async"
        (click)="changeZone(zone)"
        mat-menu-item>
        <mat-icon>speaker</mat-icon>
        <span>{{ zone.name }}</span>
    </button>
</mat-menu>