<div class="app-root">
  <div class="album-art-background"><img [src]="album?.ArtworkUrlLarge || '/images/pixel.gif'"></div>
  <div class="content-top album-header">
    <div class="row nav-bar">
      <zone-selector class="col-xs-3" [activeZone]="activeZone"></zone-selector>
      <search-bar class="col-xs-9"></search-bar>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <breadcrumbs></breadcrumbs>
        <h2 *ngIf="album?.Artist"><a href="#" [routerLink]="['/artist', album?.MusicProvider?.Identifier, album?.Artist?.Link]">{{album?.Artist?.Name}}</a></h2>
        <h1>{{album?.Name}}</h1>
      </div>
      <div class="col-xs-4">
        <img [src]="album?.ArtworkUrlLarge || '/images/pixel.gif'" class="img-responsive">
      </div>
    </div>
  </div>
  <div class="content-bottom">
    <ul class="list-unstyled">
      <li *ngFor="let track of album?.Tracks">
        <simple-track-list-item [track]="track"></simple-track-list-item>
      </li>
    </ul>
  </div>
</div>