:host {
    display: block;
}

.simple-track-list-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EEE;
    border-top: 1px solid #EEE;
    margin-bottom: -1px;

    &:hover,
    &.simple-track-list-item--menu-open {
        .simple-track-list-item__before,
        .simple-track-list-item__after {
            button {
                display: inline-block;
            }

            label {
                display: none;
            }
        }
    }

    &.simple-track-list-item--queued label {
        color: #0077ff;
    }


    label {
        font-weight: normal;
        margin-bottom: 0;
    }
}

.simple-track-list-item__before,
.simple-track-list-item__after {
    flex: 0 0 auto;
}

.simple-track-list-item__name {
    flex: 1 1 auto;
    padding: 8px 0;
}

.simple-track-list-item__after {
    text-align: right;
}

.simple-track-list-item__before {
    min-width: 30px;
}

.simple-track-list-item__before,
.simple-track-list-item__after {
    button { 
        display: none;
        margin: 0 -6px;
    }

    label {
        margin-bottom: 0;
    }
}