:host {
    display: block;
}

.track-list-item opinion-buttons {
	display: none;
}

.track-list-item:hover opinion-buttons,
.track-list-item .has-votes {
	display: block;
}

.track-list-item {
	margin-bottom: 5px;
	display: flex;
}

.track-list-item {
	margin-bottom: 10px;
}

.track-list-item label {
	margin-bottom: 0;
	color: #666;
}

.track-list-item ul {
	line-height: 14px;
}

.track-list-item__artwork,
.track-list-item__opinion-options,
.track-list-item__options {
    flex: 0 0 auto;
    position: relative;
}

.track-list-item__artwork {
    margin-right: 15px;
}

.track-list-item__options {
    margin-left: 15px;
}

.track-list-item__details {
    flex: 1 1 auto;

    a {
	    font-size: 12px;
    }
}

.track-list-item__artwork-play-button {
    border-radius: 50%;
    background-color: rgba(255,255,255,.7);
    position: absolute;
    top: (60px - 32px) / 2;
    left: (60px - 32px) / 2;
    padding: 0;
    font-size: 0;
    display: none;

    i {
        font-size: 24px;
        line-height: 24px;
        display: inline-block;
        position: relative;
        padding: 4px;
        left: 2px;
    }

    .track-list-item:hover & {
        display: inline-block;
    }
}