<div
	fxLayout="row"
	fxLayoutAlign="start center">
	<div
		class="track-item__col"
		*ngIf="!track?.IsAlreadyQueued"
		fxFlex="none">
		<img
			[src]="track?.Album.ArtworkUrlMedium"
			class="track-item__album-image">

		<button
			mat-icon-button
			class="track-item--hover-fade-in track-item__play-button"
			type="button"
			(click)="queueTrack()">
			<mat-icon>play_arrow</mat-icon>
		</button>
	</div>

	<div
		class="track-item__col"
		*ngIf="track?.IsAlreadyQueued"
		fxFlex="none">
		<mat-icon class="track-item__display-icon">volume_up</mat-icon>
	</div>

	<div
		class="track-item__col track-item__details"
		fxFlex
		fxFlexFill>
		<div class="track-item__wrap-trap">
			<div class="track-item__wrap-trap-inner">
				<label>{{track?.Name}}</label>
				<ul class="comma-separated">
					<li *ngFor="let artist of track?.Artists"><a [routerLink]="['/artist', artist.MusicProvider.Identifier, artist.Link]">{{artist.Name}}</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div
		class="track-item__col track-item--hover-fade-in"
		fxFlex="none"
		*ngIf="!track.IsAlreadyQueued">
		<button
			mat-icon-button
			[matMenuTriggerFor]="menu">
  			<mat-icon>more_vert</mat-icon>
		</button>

		<mat-menu
			#menu="matMenu">
			<button mat-menu-item (click)="queueTrack()">
				<mat-icon>play_arrow</mat-icon>
				<span>Queue</span>
			</button>
			<button mat-menu-item (click)="queueWithComment()">
				<mat-icon>comment</mat-icon>
				<span>Queue with comment</span>
			</button>

			<button mat-menu-item [routerLink]="['/album', track?.Album.MusicProvider.Identifier, track?.Album.Link]">
				<mat-icon>album</mat-icon>
				<span>View album</span>
			</button>
		</mat-menu>
	</div>
</div>
