<md-sidenav-container
    class="app-container">
    <md-sidenav
        #sidenav
        (open)="navOpen = true"
        (close)="navOpen = false">
        <pm-side-nav
            (close)="sidenav.close()">
        </pm-side-nav>
    </md-sidenav>

    <pm-site-header
        class="app-container__site-header"
        (toggleMenu)="sidenav.open()">
    </pm-site-header>
    
    <main
        class="app-container__content">
        <router-outlet></router-outlet>
    </main>
</md-sidenav-container>