<div
	class="option-buttons__like-container">
	<button
		mat-icon-button
		(click)="likeTrack()"
		title="Like">
		<mat-icon>mood</mat-icon>
	</button>

	<span
		class="badge badge-like">
		{{track?.LikeCount}}
	</span>
	<pm-user-list
		title="Likes"
		[opinions]="track?.Likes"
		*ngIf="track?.LikeCount">
	</pm-user-list>
</div>

<div
	class="option-buttons__veto-container">
	<button
		mat-icon-button
		(click)="vetoTrack()"
		title="Veto">
		<mat-icon>mood_bad</mat-icon>
	</button>

	<span
		class="badge badge-veto">
		{{track?.VetoCount}}
	</span>
	<pm-user-list
		title="Vetoes"
		[opinions]="track?.Vetoes"
		*ngIf="track?.VetoCount">
	</pm-user-list>
</div>
