body {
	width: 500px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul.comma-separated {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.comma-separated li {
	display: inline;
}

ul.comma-separated li:after {
	content: ",";
}

ul.comma-separated li:last-child:after {
	content: "";
}

.app-root {
	margin: 0px;
	position: relative;
}

.album-art-background {
	position: absolute;
	border-radius: 5px;
	overflow: hidden;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.album-art-background img {
	position: absolute;
	width: 1000px;
	-webkit-filter: blur(20px);
	top: -250px;
	left: -250px;
}

.content-top {
	position: relative;
	padding: 10px;
	z-index: 99;
	color: white;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.5+1,0+100 */
	background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 1%, rgba(0, 0, 0, 0) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 1%, rgba(0, 0, 0, 0) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 1%, rgba(0, 0, 0, 0) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.content-top a {
	color: white;
}

.now-playing {}

.now-playing img {}

.now-playing h1 {
	font-size: 22px;
	margin: 10px 0 0 0;
}

.now-playing small {
	color: rgba(255, 255, 255, .6);
}

.progress {
	box-shadow: none;
	-webkit-box-shadow: none;
	background-color: rgba(0, 0, 0, .1);
	margin-bottom: 0;
	height: 5px;
	border-radius: 0;
	margin: 0;
	position: absolute;
	bottom: -5px;
	left: 0;
	right: 0;
}

.progress-bar {
	box-shadow: none;
	-webkit-box-shadow: none;
	background-color: #000;
}

.artist-tile {}

.artist-tile img,
.album-tile img {
	width: 100%;
	background-size: cover;
	background-position: center center;
}

.artist-tile div,
.album-tile div {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	margin: 2px 5px 15px 5px;
}

.content-bottom {
	background-color: #FFF;
	position: relative;
	padding: 20px 15px 15px 15px;
}

.nav-bar zone-selector {
	padding-right: 0;
}

zone-selector .btn-primary {
	background-color: #000;
	border-color: #000;
	border-radius: 0;
}

.nav-bar {
	margin-bottom: 10px;
}

.nav-bar .dropdown {
	width: 100%;
}

.nav-bar .dropdown-toggle {
	text-align: left
}

.nav-bar .caret {
	position: absolute;
	top: 50%;
	margin-top: -2px;
	right: 10px;
}

.nav-bar search-bar {
	padding-left: 0;
}

search-bar .form-control {
	border-color: #FFF;
	border-radius: 0 !important;
	box-shadow: none !important;
}

search-bar .form-control:focus {
	outline: none;
	border-color: white;
}

search-bar .btn {
	padding: 3px 5px 2px 5px;
	border-radius: 0;
	border: 3px solid #FFF !important;
}

.now-playing-opinion-buttons {
	margin-top: 10px;
}

.btn-like,
.btn-veto {
	background: none;
	border: none;
	padding: 0;
	opacity: 0.6;
	position: relative;
	z-index: 10;
}

.btn-like i,
.btn-veto i {
	font-size: 16px;
}

.btn-like .badge,
.btn-veto .badge {
	border-radius: 50%;
	line-height: 16px;
	vertical-align: top;
	width: 16px;
	text-align: center;
	padding: 0;
	margin-left: 5px;
	color: #FFF;
	font-size: 14px;
	font-weight: normal;
}

.btn-like .badge {
	background-color: #3775ab;
}

.btn-veto .badge {
	background-color: #b94a48;
}

.now-playing-opinion-buttons .btn-like i,
.now-playing-opinion-buttons .btn-veto i {
	font-size: 24px;
}

.now-playing-opinion-buttons .btn-like .badge,
.now-playing-opinion-buttons .btn-veto .badge {
	background-color: #FFF;
	color: #337ab7;
	font-size: 18px;
	width: 24px;
	line-height: 24px;
}

.btn-like {
	margin-right: 10px;
}

.btn-like:hover,
.btn-veto:hover {
	color: #000;
	opacity: 1;
}

.user-list {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	font-size: 11px;
	background-color: #000;
	border-radius: 3px;
	padding: 5px;
	margin-top: 8px;
	color: white;
}

.user-list a {
	color: white;
}

.track-list-item .user-list {
	right: 100%;
	bottom: 0;
	top: auto;
	left: auto;
	margin-right: 8px;
}

.track-list-item .user-list:before {
	border-color: transparent;
	border-left-color: black;
	top: auto;
	left: auto;
	bottom: 5px;
	right: -10px;
}

.btn-like:hover .user-list,
.btn-veto:hover .user-list {
	display: block;
}

.user-list:before {
	content: "";
	width: 10px;
	height: 10px;
	border: 5px solid transparent;
	border-bottom-color: black;
	position: absolute;
	top: -10px;
	left: 5px;
}

.user-list li {
	text-align: left;
}

.user-list h3 {
	margin: 0 0 3px 0;
	padding-bottom: 3px;
	font-size: 12px;
	text-align: left;
	border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.now-playing-opinion-buttons .btn-like:hover,
.now-playing-opinion-buttons .btn-veto:hover {
	color: #FFF;
	opacity: 1;
}

.track-list-item .queued-track-opinions {
	display: none;
}

.track-list-item:hover .queued-track-opinions,
.track-list-item .has-votes {
	display: block;
}

.dropdown-menu a {
	cursor: pointer;
}

.nav-tabs {
	text-align: center;
	border-bottom: none;
	margin-bottom: 10px;
}

.nav-tabs>li {
	float: none;
}

.nav>li {
	display: inline-block;
}

.nav>li>a {
	border: 1px solid #cccccc;
	padding: 9px 20px;
	text-align: center;
	margin-right: -1px;
	border-radius: 0;
}

.nav-tabs>li>a:hover {
	border: 1px solid #cccccc;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:active,
.nav-tabs>li.active>a:focus {
	border: 1px solid #337ab7;
	background-color: #337ab7;
	color: white;
	outline: none;
}

.nav>li:first-child>a {
	border-radius: 20px 0 0 20px;
}

.nav>li:last-child>a {
	border-radius: 0 20px 20px 0;
}

.tab-content {
	padding: 10px 0 0 0;
}

.artist-art-background {
	position: absolute;
	overflow: hidden;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center center;
	height: 210px;
}

.artist-header {
	height: 210px;
}

.artist-header h1 {
	text-align: center;
}

.breadcrumb {
	background: none;
	border-radius: 0;
	padding: 0;
}

.breadcrumb a {
	opacity: 0.5;
}

.breadcrumb a:hover {
	opacity: 1;
	text-decoration: none;
}

.breadcrumb i {
	vertical-align: middle;
}

.album-header h1 {
	margin-top: 0;
	font-size: 26px;
}

.album-header h2 {
	font-weight: normal;
	font-size: 18px;
	margin: 0;
}

.track-list-item,
simple-track-list-item {
	margin-bottom: 5px;
	display: block;
}

simple-track-list-item .track-name {
	line-height: 34px;
	font-weight: normal;
	margin: 0;
}

.track-list-item {
	margin-bottom: 10px;
}

.track-list-item label {
	margin-bottom: 0;
	color: #666;
}

.track-list-item a {
	font-size: 12px;
}

.track-list-item ul {
	line-height: 14px;
}

.queue-info {
	font-size: 11px;
}

.list-unstyled {
	margin-bottom: 0;
}

.search-header {
	background: none;
	background-color: #EEE;
	color: black;
}

.search-header a {
	color: black;
}

.search-term {
	color: #999;
	text-align: right;
	margin-top: -42px;
	font-size: 18px;
}

.search-term em {
	color: #000;
}

.user-link {
	position: relative;
}

.user-link img {
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -25px;
	width: 50px;
	border: 2px solid #FFF;
	margin-top: 5px;
	border-radius: 2px;
	z-index: 10;
	display: none;
}

.user-link.top img{
	top: auto;
	bottom: 100%;
	margin-bottom: 5px;
	margin-top: 0;
}

.user-link:before{
	content: "";
	width: 10px;
	height: 10px;
	border: 5px solid transparent;
	border-bottom-color: white;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	margin-top: -5px;
	display: none;
}

.user-link:hover:before,
.user-link:hover img{
	display: block;
}

.user-link.top:before{
	border-top-color: white;
	border-bottom-color: transparent;
	top: auto;
	bottom: 100%;
	margin-bottom: -5px;
	margin-top: 0;
}

.user-link.dark img{
	border-color: black;
}

.user-link.dark:before{
	border-bottom-color: black;
}

.user-link.top.dark:before{
	border-top-color: black;
	border-bottom-color: transparent;
}