
.artist-list-item__photo {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    border-radius: 50%;
    background-color: white;
    padding: 5px;
    display: block;
    position: relative;
    transition: box-shadow ease-in .3s;

    img {
        width: 100%;
        border-radius: 50%;
        display: block;
        background-size: cover;
        background-position: center center;
    }
}

.artist-list-item__name {
    margin-top: 10px;
}

:host {
    padding: 0 15px;
    margin-bottom: 2rem;
    text-align: center;

    &:hover {
        .artist-list-item__photo {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.3);

        }
    }
}
