<section
	class="container container--opaque">
	<h1
		class="mat-title">
		Search results for <em>{{searchQuery}}</em>
	</h1>

	<mat-spinner
		*ngIf="loading"></mat-spinner>
	
	<mat-tab-group>
		<mat-tab
			label="Artists"
			*ngIf="results?.PagedArtists?.Artists">
			<div
				class="search-page_artist-list">
				<p
					class="padding-top-half"
					*ngIf="results?.PagedArtists?.Artists?.length === 0">
					<em>No artists</em>
				</p>
				<div
					class="search-page__row"
					fxLayout="row"
					fxLayoutWrap="wrap">
					<pm-artist-list-item
						fxFlex="33.333%"
						*ngFor="let artist of results?.PagedArtists?.Artists"
						[artist]="artist">
					</pm-artist-list-item>
				</div>
			</div>
		</mat-tab>

		<mat-tab
			label="Albums"
			*ngIf="results?.PagedAlbums?.Albums">
			<p
				class="padding-top-half"
				*ngIf="results?.PagedAlbums?.Albums?.length === 0">
				<em>No albums</em>
			</p>

			<div
				fxLayout="row"
				fxLayoutWrap="wrap"
				class="search-page__row">
				<pm-album-list-item
					fxFlex="33.333%"
					*ngFor="let album of results?.PagedAlbums?.Albums"
					[album]="album">
				</pm-album-list-item>
			</div>
		</mat-tab>
		
		<mat-tab
			label="Tracks"
			*ngIf="results?.PagedTracks?.Tracks">
			<p
				class="padding-top-half"
				*ngIf="results?.PagedTracks?.Tracks?.length === 0">
				<em>No tracks</em>
			</p>
			<ul
				class="list-unstyled">
				<li
					*ngFor="let track of results?.PagedTracks?.Tracks">
					<pm-track-list-item
						[track]="track">
					</pm-track-list-item>
				</li>
			</ul>
		</mat-tab>
	</mat-tab-group>
</section>