<section
    class="container container--opaque">
    <h1
        class="md-title">
        Queue
    </h1>

    <p
        *ngIf="!queuedTracks?.length && !loading"
        class="text">
        <em>There are no tracks in the queue</em>
    </p>
    
    <mat-spinner
        *ngIf="loading">
    </mat-spinner>

    <pm-queued-track
        *ngFor="let track of queuedTracks"
        [queuedTrack]="track"
        (likeTrack)="likeTrack(track)"
        (vetoTrack)="vetoTrack(track)">
    </pm-queued-track>
</section>