<mat-progress-bar
    *ngIf="loading"
    mode="indeterminate"></mat-progress-bar>

<section
    class="container container--opaque">
    <h1
        class="md-title">
        Queue
    </h1>

    <p
        *ngIf="!(queuedTracks$ | async)?.length && !loading"
        class="text">
        <em>There are no tracks in the queue</em>
    </p>

    <pm-queued-track
        *ngFor="let track of queuedTracks$ | async; trackBy: trackByFn"
        [queuedTrack]="track"
        (likeTrack)="likeTrack(track)"
        (vetoTrack)="vetoTrack(track)">
    </pm-queued-track>
</section>